* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Merriweather';
  src: url(font/Merriweather-Black.ttf);
}

@font-face {
  font-family: 'Gilroy';
  src: url(font/Gilroy-Semibold.ttf);
}

body {
  color: #FFFFFF;
  font-family: 'Gilroy', sans-serif;

  background: #191411 url(img/main_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.link {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;

  cursor: pointer;
}

.link:hover {
  border-bottom: 2px solid #FFFFFF;
}

.button {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 8px;
  background: linear-gradient(96deg, #DA8023 0%, #E2B438 100%);
  color: #191411;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(96deg, #ac6115 0%, #9e7a19 100%);
}

.button_big {
  width: 260px;
  height: 62px;
}

.button_small {
  width: 182px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button_ico {
  width: 45px;
  height: 45px;

  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #FFF;
  color: #FFFFFF;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.navigation {
  display: flex;
  gap: 88px;
}

.navigation>li {
  list-style-type: none;
}


.promo__wrapper {
  padding-top: 103px;
  padding-bottom: 100px;
  position: relative;
}

.promo__tag {
  border-radius: 100px;
  padding: 12px 16px;

  background-color: #D3320F;
  color: #FFFFFF;

  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: 137px;
  height: 46px;
}

h1 {
  font-family: 'Merriweather', sans-serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.promo__text {
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.promo__info {
  display: flex;
  flex-direction: column;
  max-width: 608px;
  gap: 56px;
}

.promo__img {
  position: absolute;
  top: -20px;
  left: calc(100% - 991px);

  z-index: -1;
}


/* section WHY */
.why{
  background-image: url(img/whybg.png);
  background-position: top center;
  background-size: initial;
}

.why__wrapper {
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.why__list {
  display: flex;
  gap: 100px;
}

h2 {
  font-family: 'Merriweather', sans-serif;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.item__img {
  height: 100px;
  width: 100px;
}

.item__caption {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.item__text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}


/* section MENU */

.menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.menu__list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
  width: 384px;
  height: 564px;
  border-radius: 16px;
  border: 1px solid #353535;
  background: #211A16;
}

.menu-item__caption {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu-item__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.menu-item__info {
  display: flex;
  justify-content: space-between;
}

.menu-item__price-weight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item__price {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu-item__weight {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.button-order__img {

  height: 24px;
  width: 24px;
}


/* section ORDER */
.order{
  background-image: url(img/order_bg.png);
  background-position: top center;
  background-size: initial;
}

.order__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 80px;
  position: relative;
}

.order__img{
  position: absolute;
  top: -31px;
  left: -314px;
  z-index: -1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 40px 60px;
  margin: 0 102px 0 auto;

  border-radius: 16px;
  border: 1px solid #353535;
  background: #211A16;

  width: 424px;
}

.form__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form__item {
  height: 62px;
  border-radius: 8px;
  border: 1px solid #DA8023;
  background: #211A16;
  color: #FFFFFF;
}

.form__item::placeholder {
  margin-left: 10px;
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

/* FOOTER */

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 170px;
}

.low {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}